{% load i18n %}
{% load select_location %}
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Dashboard' %}</a>
                        </li>
                        <li>
                            <a href="/search"><i class="fa fa-search fa-fw"></i> {% trans 'Search' %} </a>
                        </li>
                        <li class="{{app|select:'cmdb'}}" >
                           <a href="#"><i class="fa fa-sitemap fa-fw"></i> {% trans 'CMDB' %}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/company' }}" >
                                    <a href=#><i class="fa  fa-institution fa-fw"></i> {%trans 'company'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_company' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_company' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/contacts' }}" >
                                    <a href=#><i class="fa fa-users fa-fw"></i> {%trans 'contacts'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_contacts' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_contacts' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>



                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/brand' }}" >
                                    <a href=#><i class="fa fa-tags fa-fw"></i> {%trans 'brand'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_brand' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_brand' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/contract' }}" >
                                    <a href=#><i class="fa fa-file-text-o fa-fw"></i> {%trans 'contract'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_contract' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_contract' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/idc' }}" >
                                    <a href=#><i class="fa fa-soundcloud fa-fw"></i> {%trans 'idc'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_idc' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_idc' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/ip_resource' }}" >
                                    <a href=#><i class="fa fa-space-shuttle fa-fw"></i> {%trans 'ip_resource'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_ip_resource' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_ip_resource' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/ip_record' }}" >
                                    <a href=#><i class="fa  fa-fighter-jet  fa-fw"></i> {%trans 'ip_record'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_ip_record' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_ip_record' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>


                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/cabinet' }}" >
                                    <a href=#><i class="fa fa-cubes fa-fw"></i> {%trans 'cabinet'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_cabinet' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_cabinet' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/cabinet_seat' }}" >
                                    <a href=#><i class="fa fa-cube fa-fw"></i> {%trans 'cabinet_seat'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_cabinet_seat' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_cabinet_seat' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/device' }}" >
                                    <a href=#><i class="fa fa-square fa-fw"></i> {%trans 'device'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:list_device' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/network_equipment' }}" >
                                    <a href=#><i class="fa fa-random   fa-fw"></i> {%trans 'network_equipment'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_network_equipment' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_network_equipment' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/physical_server' }}" >
                                    <a href=#><i class="fa fa-desktop  fa-fw"></i> {%trans 'physical_server'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_physical_server' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_physical_server' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/host' }}" >
                                    <a href=#><i class="fa fa-laptop  fa-fw"></i> {%trans 'host'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_host' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_host' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/domain_name' }}" >
                                    <a href=#><i class="fa fa-book fa-fw"></i> {%trans 'domain_name'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_domain_name' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_domain_name' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/domain_record' }}" >
                                    <a href=#><i class="fa fa-bookmark  fa-fw"></i> {%trans 'domain_record'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_domain_record' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_domain_record' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                            <ul class="nav nav-second-level">
                                <li class="{{ app|select:'cmdb/cdn' }}" >
                                    <a href=#><i class="fa fa-fire  fa-fw"></i> {%trans 'cdn'|title %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="{% url 'cmdb:add_cdn' %}"><i class="fa fa-plus fa-fw"></i> {%trans 'Add' %}</a></li>
                                        <li><a href="{% url 'cmdb:list_cdn' %}"><i class="fa fa-list fa-fw"></i> {%trans 'List' %}</a></li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>

                        </li>


                        {% if  user.is_authenticated  %}

                        <li>
                            <a href="/export"><i class="fa fa-download fa-fw"></i> {% trans 'EXPORT' %} </a>
                        </li>

                        <li>
                            <a href="/admin"><i class="fa fa-gear  fa-fw"></i> {% trans 'ADMIN' %} </a>
                        </li>


                        {% endif  %}

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
