#.gitignore
__pycache__/
*.py[cod]
*$py.class
*.mo
*.pot
*.swp
*.log
.svn/*
.idea
.iml
bak/*
/python_depend_packages/*
/aops/data/*
/aops/cmdb/migrations/*
/aops/db/*
/aops/indexes/*
/aops/assets/*
/aops/tests/*
/aops/tmp/*
/aops/cmdb/tests/*
